/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.pnp.*              binary linguist-generated

# Ignore fixtures
/packages/**/build/**/*                              linguist-vendored
/packages/swc-plugin/transform/tests/fixture/**/*.js linguist-vendored
/packages/swc-plugin/demo/*                          linguist-vendored
/demo/**/*                                           linguist-vendored
/yarn.config.cjs                                     linguist-vendored
/.prettierrc.mjs                                     linguist-vendored
